search --set=root --label FURCH_2026

linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts \
    archisobasedir=furch \
    archisolabel=FURCH_2026

initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img

boot